<section class="content-box">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
          <form name="input_form" id="input_form">
            <div class="row">
              <div class="col-xs-12 col-sm-6 box-left">
                <h3 class="full">Basic Information</h3>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Gender</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <select name="gender" id="gender" class="form-control" ng-model="profile_data.gender" required>
                        <option disabled selected value>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>                      
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">First name</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input name="first_name" type="text" id="first_name" class="form-control" ng-model="profile_data.first_name" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Last name</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input name="last_name" type="text" id="last_name" class="form-control" ng-model="profile_data.last_name" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Date of Birth</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input name="birth" type="text" id="datepicker" class="form-control" placeholder="dd/mm/yyyy" ng-model="profile_data.date_birth">
                    </div>
                  </div>
                </div>
    
                <h3>Contact information</h3>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Company Name</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input name="company" type="text" id="company" class="form-control" ng-model="profile_data.company">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Email</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input name="email" type="email" id="email" class="form-control" ng-model="profile_data.email" required>
                    </div>
                  </div>
                </div>               
                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Phone</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                      <div class="input-group form-group">
                        <input name="phone" type="tel" id="home-number" class="form-control" ng-model="profile_data.home_phone" required>
                      </div>
                  </div>
                </div>
    
                <h3>Address Information</h3>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Address line 1</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input type="text" id="addInfo_address1" class="form-control" ng-model="profile_data.addInfo_address1">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Address line 2</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input type="text" id="addInfo_address2" class="form-control" ng-model="profile_data.addInfo_address2">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Town/City</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input type="text" id="addInfo_city" class="form-control" ng-model="profile_data.addInfo_city">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Region</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input type="text" id="addInfo_region" class="form-control" ng-model="profile_data.addInfo_region">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Postcode</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input type="text" id="addInfo_code" class="form-control" ng-model="profile_data.addInfo_code">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Country</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="input-group">
                      <div class="form-group">
                        <input id="country_address" type="text" class="form-control" ng-model="profile_data.addInfo_country">
                      </div>
                    </div>
                  </div>
                </div>
    
                <h3>Billing Information</h3>
                
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="">Use my home address</label>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Company Name</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input type="text" id="company" class="form-control" ng-model="profile_data.billInfo_company">
                    </div>
                  </div>
                </div>

                <div class="row">                  
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Address line 1</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input type="text" id="billInfo_address1" class="form-control" ng-model="profile_data.billInfo_address1">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Address line 2</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input type="text" id="billInfo_address2" class="form-control" ng-model="profile_data.billInfo_address2">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Town/City</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input type="text" id="billInfo_city" class="form-control" ng-model="profile_data.billInfo_city">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Region</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input type="text" id="billInfo_region" class="form-control" ng-model="profile_data.billInfo_region">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Postcode</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                      <input type="text" id="billInfo_code" class="form-control" ng-model="profile_data.billInfo_code">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6 text-right">
                    <label for="">Country</label>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="input-group">
                      <div class="form-group">
                        <input id="country_billing" type="text" class="form-control" ng-model="profile_data.billInfo_country">
                      </div>
                    </div>
                  </div>
                </div>                
                <div class="sms-box">
                  <h3>SMS Settings</h3>
                  <div class="row">
                    <div class="clearfix"></div>
                    <div class="col-xs-12 col-sm-6 text-right">
                      <label for="">SMS notification</label>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                          <label class="switch">
                            <input type="checkbox" ng-model="profile_data.sms_notification" ng-checked="profile_data.sms_notification=='true'">
                            <span class="slider"><b class="slider-on">On</b><b class="slider-off">Off</b></span>
                          </label>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="newsletter-box">
                  <h3>Newsletter Settings</h3>
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 text-right">
                      <label>Sign to Newsletter</label>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <input type="checkbox" id="policy" ng-model="profile_data.newsletter">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                      <button type="submit" class="btn btn-yellow confirm" ng-click="OnConfirm()">Save profile settings</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>