.wrapper-content {
    padding-bottom: 60px;
    .box-left {
        .box{
            @include shadowBox;
            background: #fff;
            padding: 30px;
            margin-bottom: 20px;
            h2{
                @include title($yellow, 26);
                margin-top: 0px;
            }
            p{
                font-family: 'Gotham-book';
                font-size: 16px;
                color: #5f6062;
            }
            a{
                color: $yellow;
            }
        }
    }
    .box-right{
        @include shadowBox;
        background: #FFF;
        padding: 30px 30px 110px 30px;
        h2{
            @include title($yellow, 26);
            margin-top: 0px;
            margin-bottom: 30px;
        }
		.form-group {
			position: relative;
			&.success:after, &.error:after {
				top: 75px;
			}
			label {
				font-size: 12px;
				text-transform: uppercase;
				color: #656668;
				font-weight: normal;
			}
			.form-control {
				@include placeholderColor(#5f6062);
				background-color: #f5f5f5;
				font-size: 14px;
				color: #5f6062;
				padding: 7px 10px;
				height: auto;
				border-radius: 0px;
			}
		}
		.message-box.form-group {
			&.success:after, &.error:after {
				top: 185px;
			}
		}
        .wrapper-btns {
            margin-top: 20px;
            margin-bottom: 15px;
        }
        .btn-yellow{
            padding: 10px 30px;
        }
    }
}
