<div class="step step-1">
    <form id="group_form">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label>Gender</label>
                    <select name="group_Mr" id="group_Mr" class="form-control" ng-model="travelData.gender" required>
                        <option disabled selected value>Gender</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                        <option value="Sir">Sir</option>
                    </select>                    
                </div>
            </div>
          <div class="col-xs-12 col-sm-5">
              <div class="form-group">
                  <label>FIRST NAME</label>
                  <input type="text" name="group_first_name" id="group_first_name" class="form-control" placeholder="Nohman" ng-model="travelData.first_name" required>                  
              </div>
          </div>
          <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                  <label>Last name</label>
                  <input type="text" name="group_last_name" id="group_last_name" class="form-control" placeholder="Janjua" ng-model="travelData.last_name" required>                 
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>email</label>
                    <input type="email" name="group_email" id="group_email" class="form-control" placeholder="nohman@janjua.net " ng-model="travelData.email" required>                 
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>Phone</label>
                    <input type="tel" name="group_phone" id="group_travel_phone" class="form-control" required>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>COMMENTS</label>
                    <textarea name="comments" id="comments" class="form-control" placeholder="Write your comments" ng-model="travelData.comments" required></textarea>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-right">
                <button type="submit" class="btn btn-yellow" ng-click="OnSend()">Send Request</button>
            </div>
        </div>
    </form>
  </div>