<div class="step step-1" ng-show="step1">
  <form id="group1_form">
    <div class="row">
        <div class="col-xs-12 col-sm-6">            
            <div class="airport dropdown form-group">
                <label>DEPARTURE AIRPORT</label>
                <input class="form-control" name="group_departure" id="group_departure" ng-model="groupflight.departure" type="text" data-provide="typeahead" placeholder="Departure Airport" required>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">            
            <div class="airport dropdown form-group">
                <label>DESTINATION AIRPORT</label>
                <input class="form-control" name="group_destination" id="group_destination" ng-model="groupflight.destination" type="text" data-provide="typeahead" placeholder="Destination Airport" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label>DATE</label>
                <input type="text" name="group_datepicker" id="group_datepicker" class="form-control date" placeholder="(dd/mm/yyyy)" ng-model="groupflight.date" required>                
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label>NO. OF Travelers</label>
                <select name="group_travellers" id="group_travellers" class="form-control" ng-model="groupflight.travellers" required>
                    <option disabled selected value>Passengers</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="radio">
                <label class="radio-inline"><input type="radio" name="optradio" value="RoundWay" ng-model="groupflight.flight_type" required>Round Trip</label>
                <label class="radio-inline"><input type="radio" name="optradio" value="OneWay" ng-model="groupflight.flight_type" required>One Way</label>                
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
            <button type="submit" class="btn btn-yellow" ng-disabled="step1_form.$invalid" ng-click="OnContinue()">Continue <img src="/assets/img/arrow-right.png" alt=""></button>            
        </div>
    </div>
  </form>
</div>
<div class="step step-2" ng-show="step2">
  <form id="group2_form">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label>Contact Person</label>
                <input type="text" name="group_contact_person" id="group_contact_person" class="form-control" placeholder="Nohman Janjua" ng-model="groupflight.contact_person" required>                
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label>Phone</label>
                <input type="tel" name="group_phone" id="group_phone" class="form-control" required>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="group_email" id="group_contact_email" class="form-control" placeholder="nohman@janjua.net" ng-model="groupflight.email" required>               
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label>COMPANY NAME</label>
                <input type="text" name="group_company" id="group_company" class="form-control" placeholder="FantasyLab"  ng-model="groupflight.company">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>COMMENTS</label>
                <textarea name="group_comments" id="group_comments" class="form-control" placeholder="Write your comments"  ng-model="groupflight.comments" ></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <button type="submit" class="btn btn-yellow confirm" ng-click="OnBook()">GET FREE QUOTE</button>
        </div>
    </div>
  </form>
</div>
<div class="modal fade CustomBookSuccessMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="step thanks text-center">
                <h2 style="color: #c29834; font-size: 26px;">Thank you <br> for your request.</h2>
                <p><b>Status: <span style="color: red;">Pending</span></b></p><br>
                <p>Our partner operators is giving you the best price available and you will receive a quote shortly.</p><br>
                <p>Our crew will get in touch with you in a short time.</p><br>
                <p>To see more details about your request, please<br><a class="redirect_upcoming" href="/member/upcoming-request">Go to Upcoming Request</a><br></p>
                <a ng-click="closeSuccess()" class="btn btn-border-gold">Close</a>
            </div>
        </div>
    </div>
</div>