.accessoslo-airport-limousine{
    @import "header-list";
    @import "items-list";
    .label-table{
        display: block;
        float: left;
        font-size: em(14);
        line-height: 25px;
        min-height: 25px;
        &.booking-id{
            width: 9%;
			text-align: left;
        }
        &.date{
            width: 8%;
			text-align: center;
        }
        &.contact{
            width: 15%;
			text-align: center;
        }
        &.from-address{
            width: 19%;
			text-align: center;
        }
        &.to-address{
            width: 19%;
			text-align: center;
        }
        &.type-car{
            width: 9%;
			text-align: center;
        }
        &.status{
            width: 11%;
			text-align: center;
        }
        &.toggle{
            text-align: right;
            width: 10%;
        }
    }
}