.introduction{
    display: block;
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 0px;
    @include breakpoint(sm_pc){
        margin-top: 0px;
    }
	@include breakpoint (mobile) {
		padding-top: 50px !important;
		.container {
			top: 24% !important;
		}
	}
    .wrapper-content {
        position: absolute;
        z-index: 5;
        margin: auto;
        left: 0px;
        right: 0px;
        top: 50%;
        text-align: center;
        @include breakpoint(sm_pc){
            top: 30%;
        }
        @include breakpoint(mobile){
            top: 0%;
        }
        h1 {
			font-size: 74px !important;
			font-family: Gotham-Book !important;
			color: rgb(255, 255, 255) !important;
			text-transform: uppercase !important;
			text-align: center !important;
			text-shadow: 0px 0px 20px rgba(0,0,0,0.2) !important;
			margin-top: -10px !important;
			margin-left: -20px !important;
            @include breakpoint(sm_pc){
                font-size: 30px;
            }
			@include breakpoint (mobile) {
				font-size: 25px !important;
				margin: 0 !important;
				padding-top: 45px;
			}
        }
        h2 {
            font-family: 'Gotham-Book';
            font-size: 28px;
            font-weight: normal;
            color: #fff;
        }
    }
}
