.items-list{
    display: block;
    .item{
        background: white;
        color: #333333;
        padding: 20px 30px;
        margin-bottom: 3px;
        .action{
            a{
                color: $purple;
				cursor: pointer;
				&:first-child {
					padding-right: 10px;
				}
            }
        }
    }
}