.accessoslo-customers{
    @import "header-list";
    @import "items-list";
    .label-table{
        display: block;
        float: left;
        font-size: em(14);
        line-height: 25px;
        &.member-since{
            width: 10%;
        }
        &.title{
            width: 9%;
        }
        &.first-name{
            width: 12%;
        }
        &.last-name{
            width: 12%;
        }
        &.email{
            width: 19%;
        }
        &.phone{
            width: 14%;
        }
        &.action{
            width: 24%;
            text-align: right;
        }
    }
}