.accessoslo-cargo{
    @import "header-list";
    @import "items-list";
    .label-table{
        display: block;
        float: left;
        &.booking-id{
            width: 8%;
			text-align: left;
        }
        &.departure{
            width: 20%;
			text-align: center;
        }
        &.destination{
            width: 20%;
			text-align: center;
        }
        &.date{
            width: 9%;
			text-align:center;
        }      
        &.dimensions{
            width: 13%;
			text-align:center;
        }
        &.weight{
            width: 8%;
			text-align:center;
        }
        &.dangerous{
            width: 9%;
			text-align:center;
        }       
        &.toggle{
            text-align: right;
            width: 12%;
        }
    }
}