.accessoslo-emptyleg-charter{
    @import "header-list";
    @import "items-list";
    .label-table{
        display: block;
        float: left;
        &.contact{
            width: 13%;
			text-align: left;
        }
        &.phone{
            width: 14%;
			text-align: center;
        }
        &.email{
            width: 18%;
			text-align: center;
        }
        &.departure{
            width: 14%;
			text-align: center;
        }
		&.destination{
            width: 14%;
			text-align: center;
        }
        &.end_date{
            width: 10%;
			text-align: center;
        }
		&.status {
			width: 6%;
			text-align: center;
		}
		&.action {
			width: 11%;
			text-align: right;
		}		
        
    }
}