<div class="step step-1" ng-show="visible_step1">
    <h3>Get a Charter Quote Today</h3>
    <p>Fill in the form and one of our charter specialists will revert to you shortly </p>
    <div class="timeline">
        <img src="/assets/img/light-line.png" alt="">
        <span><img src="/assets/img/airplane.png" alt=""></span>
        <p class="text-left active">Contact Details</p>
        <p class="text-right">Flight Details</p>
    </div>
    <form id="step1_form">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    <label for="">GENDER</label>
                    <select name="gender" id="gender" class="form-control" ng-model="quoteDetails.gender" required>
                        <option disabled selected value>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label for="">CONTACT PERSON</label>
                    <input type="text" id="contact_person" name="full_name" class="form-control" ng-model="quoteDetails.full_name" placeholder="Contact Person" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="form-group">
                    <label for="">COMPANY</label>
                    <input type="text" name="company" class="form-control" ng-model="quoteDetails.company" placeholder="Company">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="">PHONE</label>
                    <input type="tel" name="phone" id="mobile-number" class="form-control" placeholder="Phone"  required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="">EMAIL</label>
                    <input type="email" name="email" id="email" class="form-control" ng-model="quoteDetails.email" placeholder="Email" required>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-yellow" ng-click="OnContinue()">Continue</button>
        </div>
    </form>
</div>
<div class="step step-2" ng-show="visible_step2">
    <h3>Get a Charter Quote Today</h3>
    <p>Fill in the form and one of our charter specialists will revert to you shortly </p>
    <div class="timeline">
        <img src="/assets/img/gold-line.png" alt="" style="width: 95%;">
        <span><img src="/assets/img/airplane.png" alt="" style="margin-left:470px;"></span>
        <p class="text-left active">Contact Details</p>
        <p class="text-right active">Flight Details</p>
    </div>
    <form id="step2_form">
        <div class="row">
            <div class="col-xs-12 col-sm-6">                    
                <div class="input-group form-group">
                    <label for="">DATE OF DEPARTURE</label>
                    <input type="text" id="datepicker" name="date" class="form-control date" placeholder="Date of Departure" ng-model="quoteDetails.depature_date" required>                    
                </div>                
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="input-group form-group">
                    <label for="">LOCAL TIME OF DEPARTURE</label>
                    <input type="text" id="timepicker" name="time" class="form-control time" placeholder="Local time of departure"
                        ng-model="quoteDetails.depature_time" required>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">                    
                <div class="airport dropdown form-group">
                    <label for="">DEPARTURE AIRPORT</label>
                    <input class="form-control" name="flight_departure" id="flight_departure" ng-model="quoteDetails.from_airport" type="text" data-provide="typeahead" placeholder="Departure Airport" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">                    
                <div class="airport dropdown form-group">
                    <label for="">DESTINATION AIRPORT</label>
                    <input class="form-control" name="flight_destination" id="flight_destination" ng-model="quoteDetails.to_airport" type="text" data-provide="typeahead" placeholder="Destination Airport" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <div class="form-group">
                    <label for="">FLIGHT TYPE</label>
                    <select name="flight_type" class="form-control" ng-model="quoteDetails.flight_type" ng-change="onFlightTypeChange()" required>
                        <option disabled selected value>Flight Type</option>
                        <option value="One Way">OneWay</option>
                        <option value="Round Way">RoundWay</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="">TRAVELERS</label>
                    <select name="travellers" id="travellers" class="form-control" ng-model="quoteDetails.passenger_num" required>
                        <option disabled selected value>Travelers</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row return-datetime">
            <div class="col-xs-12 col-sm-6">
                <div class="input-group form-group">
                    <label for="">DATE OF RETURN</label>
                    <input type="text" id="return_datepicker" name="return_date" class="form-control date" placeholder="Date of Return"
                        ng-model="quoteDetails.return_depature_date">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="input-group form-group">
                    <label for="">TIME OF RETURN</label>
                    <input type="text" id="return_timepicker" name="return_time" class="form-control time" placeholder="Time of Return"
                        ng-model="quoteDetails.return_depature_time">                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 text-left">
                <a class="btn btn-border-gold" ng-click="OnPrevious()">Previous Step</a>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
                <button type="submit" class="btn btn-yellow confirm" ng-click="OnConfirm()">Confirm</button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="BookSuccessMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="step thanks text-center">
                <h2 style="color: #c29834; font-size: 26px;">Thank you <br> for your request.</h2>
                <p><b>Status: <span style="color: red;">Pending</span></b></p><br>
                <p>Our partner operators is giving you the best price available and you will receive a quote shortly.</p><br>
                <p>Our crew will get in touch with you in a short time.</p><br>
                <p><b>Thank you for your request.</b></p>
                <p>Our team will get in touch with you in a short time. In meanwhile if you have any questions you can send us an email to <span class="nobr"><a href="mailto:contact@accessoslo.no" class="external-link" rel="nofollow" title="Follow link">contact@accessoslo.no</a></span>&nbsp; or call us at +47 91 222 999.</p>
                <a ng-click="NewRequest()" class="btn btn-border-gold">Close</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="BookSuccessMessage_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="step thanks text-center">
                <h2 style="color: #c29834; font-size: 26px;">Thank you <br> for your request.</h2>
                <p><b>Status: <span style="color: red;">Pending</span></b></p><br>
                <p>Our partner operators is giving you the best price available and you will receive a quote shortly.</p><br>
                <p>Our crew will get in touch with you in a short time.</p><br>
                <p><b>Thank you for your request.</b></p>
                <p>Our team will get in touch with you in a short time. In meanwhile if you have any questions you can send us an email to <span class="nobr"><a href="mailto:contact@accessoslo.no" class="external-link" rel="nofollow" title="Follow link">contact@accessoslo.no</a></span>&nbsp; or call us at +47 91 222 999.</p>
                <a ng-click="closeSuccess()" class="btn btn-border-gold">Close</a>
            </div>
        </div>
    </div>
</div>