.accessoslo-handling-request{
    @import "header-list";
    @import "items-list";
    .label-table{
        display: block;
        float: left;
        font-size: em(14);
        line-height: 25px;
        min-height: 25px;
        &.date{
            width: 10%;
        }
        &.airport{
            width: 21%;
			text-align: center;
        }
        &.company{
            width: 13%;
			text-align: center;
        }
        &.aircraft{
            width: 15%;
			text-align: center;
        }        
        &.flight{
            width: 14%;
        }		
		&.attach {
			width: 15%;
			svg {
			    width: 17px;
				vertical-align: bottom;
				margin-left: 50px;
			}
		}
        &.actions{
            width: 12%;
            text-align: right;
        }
    }
}