.accessoslo-meet-greet{
    @import "header-list";
    @import "items-list";
    .label-table{
        display: block;
        float: left;
        font-size: em(14);
        line-height: 25px;
        &.booking-id{
            width: 8%;
			text-align: left;
        }
        &.contact{
            width: 14%;
			text-align: center;
        }
        &.email{
            width: 24%;
			text-align: center;
        }
        &.phone{
            width: 13%;
			text-align: center;
        }
        &.date{
            width: 14%;
			text-align: center;
        }     
		&.status {
			width: 13%;
			text-align: center;
		}
        &.toggle{
            text-align: right;
            width: 14%;
        }
    }
}