.introduction {
    display: block;
    margin: 0px 0px 30px;
    padding: 0px;
    width: 100%;
    .box{
        @include shadowBox;
        display: block;
        background: #FFF;
        padding: 50px 45px 90px;
        position: relative;
        h1{
            color: $purple;
            margin: 0px 0px 20px 0px;
            font-family: 'Gotham-book';
            font-size: 35px;
            @include breakpoint(md_pc){
                font-size: 30px;
            }
            @include breakpoint(md_pc){
                font-size: 30px;
            }
            span {
                color: $yellow;
            }
        }
        .share {
            color: $yellow;
            position: absolute;
            bottom: 40px;
            left: 45px;
            @include breakpoint(mobile){
                position: relative;
                bottom: 0px;
                left: 0px;
            }
        }
    }
    .slider {
        @include shadowBox;
        display: block;
    }
}
