.accessoslo-helicopter-charter{
    @import "header-list";
    @import "items-list";
    .label-table{
        display: block;
        float: left;
        &.booking-id{
            width: 7%;
			text-align: left;
        }
        &.departure{
            width: 20%;
			text-align: center;
        }
        &.destination{
            width: 20%;
			text-align: center;
        }
        &.date{
            width: 6%;
			text-align: center;
        }
        &.travelers{
            width: 13%;
            text-align: center;
        }
        &.flight{
            width: 10%;
			text-align: center;
        }
        &.contact{
            width: 14%;
			text-align: center;
        }        
        &.toggle{
            text-align: right;
            width: 10%;
        }
    }
}