#AccessModal {
    .modal-content {
        border-radius: 0px;
        padding: 10px 30px 40px 30px;
        background: #f5f5f5;
        .close {
            position: absolute;
            font-size: 35px;
            color: #cdcdcd;
            top: 20px;
            right: 20px;
            opacity: 1;
        }
        .modal-header {
            text-align: center;
            border: none;
            h4 {
                color: $yellow;
                font-family: 'Gotham';
                font-weight: normal;
                text-align: left;
                font-size: 26px;
                margin: 20px 0px 0px;
            }
            p {
              font-family: 'Gotham';
              text-align: left;
              margin: 0;
            }
            .timeline {
                position: relative;
                width: 100%;
                display: block;
                padding: 20px 0px;
                span {
                    position: absolute;
                    top: 10px;
                    left: 0px;
                    display: block;
                }
                p {
                    display: inline;
                    color: #f4eedf;
                    font-family: 'Gotham';
                    font-size: 14px;
                    margin: 15px 0px 0px;
                    &.text-left {
                        float: left;
                    }
                    &.text-right {
                        float: right;
                    }
                    &.active {
                        color: $yellow;
                    }
                }
            }
        }
        .modal-body {
            padding-top: 30px;
            .checkbox-inline {
                color: #929292;
                font-size: 14px;
                font-weight: normal;
            }
            .form-control {
                @include placeholderColor(#b0b0b0);
                background: #ffff;
                font-size: 15px;
                color: #b0b0b0;
                padding: 7px 10px;
                height: auto;

                &.user {
                    background-repeat: no-repeat;
                    background-position: 10% center;
                    background-size: 15px auto;
                }
                &.phone {
                    background-repeat: no-repeat;
                    background-position: 4% center;
                    background-size: 15px auto;
                }
                &.email {
                    background-repeat: no-repeat;
                    background-position: 4% center;
                    background-size: 15px auto;
                }
            }
            label{
              font-size: 12px;
              color: #656668;
              text-transform: uppercase;
            }            
            .btn-purple {
                padding: 15px 50px;
                img {
                    width: 18px;
                    margin-left: 10px;
                }
            }
            small {
                display: block;
                margin: 10px auto 0px;
                font-family: 'Gotham-Book';
                font-size: 12px;
                color: #929292;
            }
			#price {
				color: #c29834;
				font-size: 24px;
				font-family: "Gotham-Book";
				padding-top: 5px;
				text-transform: lowercase;
			}
        }
    }
}
