<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="title-box">
                    <h1>Edit Page</h1>                      
                    <a id="save" class="btn btn-gray" ng-click="Save()">Save</a>
                    <a id="publish" class="btn btn-purple" ng-click="Publish()">Publish</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 cms-header">
                <div class="change_lang">
                    <input id="cms_lang" class="form-control">
                </div>
                <div class="info-user">
                    <p class="name-user">{{user.first_name}} {{user.last_name}}</p>
                    <span class="avatar">
                        <img src="/assets/img/admin/avatar.svg" class="img-responsive center-block" alt="" ng-show="!is_img">
                        <img src="{{user.img}}" class="img-responsive center-block" alt="" ng-show="is_img">
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>  
<div class="page-content accessoslo-single-page">
    <div class="container-fluid">
        <!-- content-box -->
        <div class="content-box">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <!-- page title -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="module type-wysiwyge">
                                <div class="title">
                                    <h6>Page TITLE</h6>
                                </div>
                                <div class="content">
                                    <div id="page_title"></div>
                                </div>                                                      
                            </div>
                        </div>
                    </div>
                    <!-- page title -->
                    <!-- page content -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="module type-wysiwyg">
                                <div class="title">
                                    <h6>Page content</h6>
                                </div>
                                <div class="content">
                                    <div id="page_content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- page content -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="module type-wysiwyg">
                                <div class="title">
                                    <h6>META TITLE</h6>
                                </div>
                                <div class="content">
                                    <div id="meta_title"></div>          
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="module type-default">
                                <div class="title">
                                    <h6>META DESCRIPTIONS</h6>
                                </div>
                                <div class="content">
                                    <div id="meta_description"></div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4" ng-show="is_banner_img">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="module type-upload-image">
                                <div class="title">
                                    <h6>Banner IMAGE</h6>
                                </div>
                                <div class="content">
                                    <form action="/file-upload" class="dropzone no-margin" id="image-uploader">
                                        <div class="fallback">
                                            <input name="file" type="file" multiple/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 slide_image" ng-show="slide_image">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="module type-upload-image">
                                <div class="title">
                                    <h6>SUB Banner IMAGE</h6>
                                </div>
                                <div class="content">
                                    <div class="form-group">
                                        <input id="img_sub_banner" type="file" accept="image/*">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 slide_image" ng-show="slide_image">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="module type-upload-image">
                                <div class="title">
                                    <h6>SLIDE IMAGES</h6>
                                </div>
                                <div class="content">
                                    <div class="form-group">
                                        <input id="img_path" name="images[]" type="file" multiple>
                                        <div class="uploaded_gallery"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 slide_image_gallery" ng-show="slide_image">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="module type-upload-image">
                                <div class="title">
                                    <h6>SLIDE Uploaded IMAGES</h6>
                                </div>
                                <div class="content">
                                    <div class="previous_content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 add_team_members" ng-show="team_member">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="module">
                                <div class="title">
                                    <h6>TEAM MEMBERS</h6>
                                </div>
                            </div>
                            <div class="content">
                                <div class="existed_members">
                                    <div class="existed_member" ng-repeat="member in members">
                                        <div class="member_title collapsed" data-toggle="collapse" data-target="#{{member.id}}">
                                            <label>{{member.name}}</label>
                                            <i class="fa fa-caret-up"></i></span>
                                        </div>
                                        <div class="member_body collapse" id="{{member.id}}">
                                            <form class="new_member_form">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Name" name="name" ng-model="member.name" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Position" name="position" ng-model="member.position" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12">
                                                        <div class="form-group">
                                                            <input type="email" class="form-control" placeholder="Email" name="email" ng-model="member.email" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12">
                                                        <div class="form-group">
                                                            <textarea class="form-control" placeholder="Description" name="description" ng-model="member.description" required></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <div class="fileinputs">
                                                            <input id="existing_member_avatar" ng-if="member.avatar == null" class="file" type="file" onchange="angular.element(this).scope().uploadExistingAvatar(this);" />
                                                            <button class="btn-remove" ng-if="member.avatar != null" ng-click="removeAvatar(member)">Remove</button>
                                                            <div class="fakefile" ng-if="member.avatar == null">
                                                                <p class="btn btn-default">Upload</p>
                                                                <!-- <p>Upload Image</p> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <button class="btn-delete" ng-click="remove_member(member)">Delete</button>
                                                        <a type="submit" class="btn btn-yellow confirm" ng-click="update_member(member)">Save</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="new_member">
                                    <div class="member_title collapsed" data-toggle="collapse" data-target="#new_item">
                                        <label>New team member</label>
                                        <i class="fa fa-caret-up"></i></span>
                                    </div>
                                    <div class="member_body collapse" id="new_item">
                                        <form id="new_member_form">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Name" name="name" ng-model="new_member.name" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Position" name="position" ng-model="new_member.position" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" placeholder="Email" name="email" ng-model="new_member.email" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control" placeholder="Description" name="description" ng-model="new_member.description" required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6">
                                                    <div class="fileinputs">
                                                        <input id="new_member_avatar" class="file" type="file" onchange="angular.element(this).scope().uploadedFile(this);"/>
                                                        <div class="fakefile">
                                                            <p class="btn btn-default">Upload</p>
                                                            <p>Upload Image</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <a type="submit" class="btn btn-yellow confirm" ng-click="add_member()">Add</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- content-box -->
    </div>
</div>