.tabs-wrapper{
	background: #f8f6f0;
	padding-top: 80px;
	padding-bottom: 80px;
	@include breakpoint (mobile) {
		padding-top: 10px;
		padding-bottom: 40px;
		background: #e3e3e3;		
	}
    .nav-tabs{
        border: none;
        width: 1000%;
        position: absolute;
        height: 280px;
        top: 0px;
        -webkit-transition: left 0.4s ease-Out;
        -o-transition: left 0.4s ease-Out;
        -moz-transition: left 0.4s ease-Out;
        transition: left 0.4s ease-Out;
        li{
            font-size: em(24);
            color: #b7b3aa;
            text-transform: uppercase;
            width: 187.5px;
            text-align: center;
            line-height: 1;            
            border-radius: 0px;
            border: none;
            margin: 0px;            
            position: relative;
            a{
                color: #b7b3aa;
                border: none;                
                figure{
                    display: block;
                    width: 135px;
                    margin: 20px auto;
                    height: 80px;
                    svg{
                        fill: #e0cb9a;
                        max-width: 100%;
                        height: 100%;
                        width: 120px;
                    }
                }
                span{
                    display: block;
                    line-height: 1;
                    margin: 0px;
                    padding: 0px 0px 30px 0px;
                }
            }
            &.active{				
                &:before{
                    content: "";
                    display: block;
                    width: 100%;
                    position: absolute;
                    background: #7abf32;
                    height: 5px;
                    bottom: 0px;
                    left: 0px;
                    z-index: 2;
                }
                a{					
                    color: #656668;
                    border: none;
                    figure{
                        svg{
                            fill: #7abf32;
                        }
                    }
                }
            }
            &:hover{                
				border: 1px solid #fff;
            }
        }
    }
    .tab-content{
        display: block;
        clear: both;
        margin: 6px 0px 0px;
        padding-top: 220px;
        .tab-pane{
            padding: 45px;                       
            .steps-wrapper{
                display: block;
                position: relative;
                .step{
                    transition: all 0.3s ease-out;
                    -moz-transition: all 0.3s ease-out;
                    -o-transition: all 0.3s ease-out;
                    -webkit-transition: all 0.3s ease-out;
                    &.current{
                        opacity: 1;
                        visibility: visible;
                        position: relative;
                        z-index: 5;
                        transition: all 0.3s ease-out;
                        -moz-transition: all 0.3s ease-out;
                        -o-transition: all 0.3s ease-out;
                        -webkit-transition: all 0.3s ease-out;
                    }
					.check-group {
						list-style-type: none;
						padding-left: 0px;
						display: flex;
					}
                    &.next{
                        opacity: 0;
                        visibility: hidden;
                        position: absolute;
                        width: 100%;
                        top: 0px;
                        left: 0px;
                        z-index: 1;
                        transition: all 0.3s ease-out;
                        -moz-transition: all 0.3s ease-out;
                        -o-transition: all 0.3s ease-out;
                        -webkit-transition: all 0.3s ease-out;
                    }
                    h5{
                        color: $yellow;
                        font-size: em(18);
                        font-weight: normal;
                        line-height: 25px;
                        text-transform: uppercase;
                        margin: 0px 0px 10px 0px;
                    }
                    .form-group{
                        margin-bottom: 30px;
						position: relative;
                        .special{
                            line-height: 40px;
                            text-align: center;
                        }
                        .special-blocks{
                            >div{
                                &:first-child{
                                    padding-right: 0px;
                                }
                                &:last-child{
                                    padding-left: 0px;
                                }
                            }
                        }
                        .info-alert{
                            position: absolute;
                            z-index: 5;
                            bottom: 40px;
                            right: 25px;
                            &.select{
                                right: 60px;
                            }
                        }
                        label{
                            font-size: em(14);
                            text-transform: uppercase;
                            color: #656668;
                            font-weight: normal;
                        }
                        .form-control{
                            @include placeholderColor(#b0b0b0);
                            background-color: #f5f5f5;
                            color: #b0b0b0;
                            height: auto;
                            &:focus{
                                background-color: #FFF;
                                border-color: $yellow;
                            }
                            &.date{
                                background-image: url('../assets/img/input-date-gray.jpg');
                                background-repeat: no-repeat;
                                background-position: right center;
                                background-size: auto 100%;
                                padding-right: 50px;
                            }
                            &.time{
                                background-image: url('../assets/img/input-time.jpg');
                                background-repeat: no-repeat;
                                background-position: right center;
                                background-size: auto 100%;
                                padding-right: 50px;
                            }
                        }
                        select{
                            background-image: url('../assets/img/arrow-select-gray.jpg');
                            background-repeat: no-repeat;
                            background-position: right center;
                            background-size: auto 100%;							
                        }
						.meet_flight_no {
							&.success:after, &.error:after {
								top: 87px;
							}
						}
						&.success:after, &.error:after {				
							top: 75px;						
						}						
                    }
					#price {
						color: #c29834;
						font-size: 30px;
						padding-top: 25px;
						padding-left: 20px;				
					}
					#book {
						width: 100%;
					}
                    .radio{
                        label{
                            color: #b0b0b0;
                            font-weight: normal;
                            font-size: 18px;
                        }
                    }
                    .btn{
                        padding: 15px 30px;
						margin-top: 20px;
                    }
                }
				form {
					.text-left {
						#price {
							color: #c29834;
							font-size: 26px;
						}
					}
					.form-group {
						label{
                            font-size: 0.875em;
							text-transform: uppercase;
							color: #656668;
							font-weight: normal;
                        }
                        .form-control{
                            @include placeholderColor(#b0b0b0);
                            background-color: #f5f5f5;
                            color: #b0b0b0;
                            height: auto;
                            &:focus{
                                background-color: #FFF;
                                border-color: $yellow;
                            }
                            &.date{
                                background-image: url('../assets/img/input-date-gray.jpg');
                                background-repeat: no-repeat;
                                background-position: right center;
                                background-size: auto 100%;
                                padding-right: 50px;
                            }
                            &.time{
                                background-image: url('../assets/img/input-time.jpg');
                                background-repeat: no-repeat;
                                background-position: right center;
                                background-size: auto 100%;
                                padding-right: 50px;
                            }
                        }
					}
					.meet-check-group {
						list-style-type: none;
						padding-left: 0px;
						display: flex;
						li {
							padding-right: 20px;
							font-family: Gotham;
							color: rgb(194, 152, 52);
							font-size: 20px;
							font-weight: bold;
						}
						input {
							cursor: pointer;
							width: 21px;
							height: 21px;
							vertical-align: top;
						}
					}
				}
            }
        }
    }
    .carousel-wrapper{
        display: block;
        position: relative;
		@include breakpoint (mobile) {
			display: none;
		}
        .carousel-tabs{
            width: 100%;
            overflow: hidden;
            display: block;
            position: relative;
			background: #fff;
        }
        .navigation{
            a.arrow-nav{
                background: transparent;
                border: solid 1px #ccc6b2;
                position: absolute;
                top: 80px;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border-radius: 100px;
                color: #000;
                font-size: 20px;
                &.prev{
                    left: -80px;
                }
                &.next{
                    right: -80px;
                }
                &:hover{
                    background: #FFF;
                    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.15);
                }
            }
        }
    }
	.mobile-wrapper {
		display: none;
		@include breakpoint (mobile) {
			display: block;
			.container {
				background: #fff;
				padding: 10px;
				margin-top: 3px;
				span {
					color: #48539b;
					font-size: 14px;
					text-transform: uppercase;
					margin-left: 10px;
					&.caret {
						float: right;
						border-radius: 50%;
						background: #c29834;
						color: #c29834;
						width: 23px;
						height: 23px;
						margin-right: 10px;
						transform: rotate(0deg);
						transition: all 0.3s ease-Out;
						-moz-transition: all 0.3s ease-Out;
						-o-transition: all 0.3s ease-Out;
						-webkit-transition: all 0.3s ease-Out;
						i {
							font-size: 19px;
							position: relative;
							left: 2px;
							top: -3px;
							color: #fff;
						}
						&.collapsed {
							transform: rotate(180deg);
						}
					}
				}
			}
			.tab {
				padding: 20px;
			    #mobile_price {
					color: #c29834;
					font-size: 30px;
					padding-top: 25px;
					padding-left: 20px;
				}
				.meet_price {
					color: #c29834;
					font-size: 20px;
					padding-top: 13px;
					padding-left: 20px;
				}
				form {
					.text-left {
						#price {
							color: #c29834;
							font-size: 17px;
							margin-top: 13px;
						}
					}
					.form-group {
						label{
                            font-size: 12px;
							text-transform: uppercase;
							color: #656668;
							font-weight: normal;
                        }
                        .form-control{
                            @include placeholderColor(#b0b0b0);
                            background-color: #f5f5f5;
                            color: #b0b0b0;
                            height: auto;
                            &:focus{
                                background-color: #FFF;
                                border-color: $yellow;
                            }
                            &.date{
                                background-image: url('../assets/img/input-date-gray.jpg');
                                background-repeat: no-repeat;
                                background-position: right center;
                                background-size: auto 100%;
                                padding-right: 50px;
                            }
                            &.time{
                                background-image: url('../assets/img/input-time.jpg');
                                background-repeat: no-repeat;
                                background-position: right center;
                                background-size: auto 100%;
                                padding-right: 50px;
                            }
                        }
					}
					.meet-check-group {
						list-style-type: none;
						padding-left: 0px;
						display: flex;
						li {
							padding-right: 15px;
							font-family: Gotham;
							color: rgb(194, 152, 52);
							font-size: 15px;
							font-weight: bold;
						}
						input {
							cursor: pointer;
							width: 18px;
							height: 18px;
							vertical-align: sub;
						}
					}
				}
			}
		}
	}
}