.introduction{
    display: block;
    position: relative;
    width: 100%;
    padding: 0px;
    @include breakpoint(tablet){
        margin-top: 0px;
    }
    .wrapper-items {
		padding-top: 100px;
        margin-bottom: 50px;
        @include breakpoint(tablet){
            position: relative;
            top: 0px;
            margin-top: 30px;
        }
		@include breakpoint(mobile) {
			margin-top: 0px;
		}
        h1 {
            @include title(#000,24);
            margin-top: 0px;
            margin-bottom: 30px;
            display: block;
            @include breakpoint(tablet){
                color: #000;
            }
        }
        .box{
            display: block;
            border: 20px solid #fff;
			box-shadow: 0px 0px 15px 0px rgba(61, 47, 12, 0.15);
			@include breakpoint (mobile) {
				margin-bottom: 30px;
			}
            .wrapper {
                background: rgba(255, 255, 255, 0.8);
                padding: 20px 0px;
                display: block;         
            }
            figure{
                &:after{
                    content: "";
                    background: #c2c2c2;
                    width: 85px;
                    height: 2px;
                    display: block;
                    margin: 20px auto 10px;
                }
            }
            h3{
                @include title(#333333, 34);
                margin-top: 0px;
                margin-bottom: 0px;
            }
            h2{
                @include title($purple, 16);
                text-transform: uppercase;
                margin-top: 10px;
                margin-bottom: 20px;
                &:after{
                    content: "";
                    background: #c2c2c2;
                    width: 85px;
                    height: 2px;
                    display: block;
                    margin: 20px auto 10px;
                }
            }
        }
    }
}