<div class="step step-1" ng-show="visible_step1">
    <h3>Get a Charter Quote Today</h3>
    <p>Fill in the form and one of our charter specialists will revert to you shortly </p>
    <div class="timeline">
        <img src="/assets/img/light-line.png" alt="">
        <span><img src="/assets/img/airplane.png" alt=""></span>
        <p class="text-left active">Contact Details</p>
        <p class="text-right">Flight Details</p>
    </div>
    <form id="step1_form">
        <div class="row">
            <div class="col-xs-12 col-sm-6">                
                <div class="airport dropdown form-group">
                    <label for="">DEPARTURE AIRPORT</label>
                    <input class="form-control" name="flight_departure" id="flight_departure" ng-model="quoteDetails.departure" type="text" data-provide="typeahead" placeholder="Departure Airport" required>
                </div>                
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="airport dropdown form-group">
                    <label for="">DESTINATION AIRPORT</label>
                    <input class="form-control" name="flight_destination" id="flight_destination" ng-model="quoteDetails.destination" type="text" data-provide="typeahead" placeholder="Destination Airport" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="">Date</label>
                    <input type="text" name="datepicker" id="datepicker" class="form-control date" placeholder="(mm/dd/yyyy)" ng-model="quoteDetails.date" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="">DIMENSIONS (CM)</label>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 form-group demension_options"><input type="text" name="width" placeholder="Width" id="width" class="form-control" ng-model="quoteDetails.width" required></div>
                        <div class="col-xs-12 col-sm-4 form-group demension_options" demension_options ><input type="text" name="height" placeholder="Height" id="height" class="form-control" ng-model="quoteDetails.height" required></div>
                        <div class="col-xs-12 col-sm-4 form-group demension_options "><input type="text" name="depth" placeholder="Depth" id="depth" class="form-control" ng-model="quoteDetails.depth" required></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="">Weight (kg)</label>
                    <input type="text" name="weight" id="weight" class="form-control" placeholder="e.g 60 kg" ng-model="quoteDetails.weight" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="">DANGEROUS GOODS</label>
                    <div class="clearfix"></div>
                    <label class="radio-inline"><input type="radio" value="yes"  name="danger" ng-model="quoteDetails.is_danger" required>Yes</label>
                    <label class="radio-inline"><input type="radio" value="no" name="danger" ng-model="quoteDetails.is_danger" required>No</label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="text-right">
                    <button type="submit" class="btn btn-yellow" ng-click="OnContinue()">Continue</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="step step-2" ng-show="visible_step2">
    <h3>Get a Charter Quote Today</h3>
    <p>Fill in the form and one of our charter specialists will revert to you shortly </p>
    <div class="timeline">
        <img src="/assets/img/gold-line.png" alt="" style="width: 95%;">
        <span><img src="/assets/img/airplane.png" alt="" style="margin-left:470px;"></span>
        <p class="text-left active">Contact Details</p>
        <p class="text-right active">Flight Details</p>
    </div>
    <form id="step2_form">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="">COMPANY</label>
                    <input type="text" name="company" placeholder="Company" id="company" class="form-control" ng-model="quoteDetails.company">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="">CONTACT PERSON</label>
                    <input type="text" id="contact_person" name="contact_person" placeholder="Contact Person" id="contact_person" class="form-control" ng-model="quoteDetails.person" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="">PHONE</label>
                    <input type="tel" name="phone" id="mobile-number" class="form-control" placeholder="Phone" required>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="">EMAIL</label>
                    <input type="email" name="email" placeholder="Email" id="email" class="form-control" ng-model="quoteDetails.email" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-right">                
                <button type="submit" class="btn btn-yellow confirm" ng-click="OnConfirm()">GET FREE QUOTE</button>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="BookSuccessMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="step thanks text-center">
                <h2 style="color: #c29834; font-size: 26px;">Thank you <br> for your request.</h2>
                <p><b>Status: <span style="color: red;">Pending</span></b></p><br>
                <p>Our partner operators is giving you the best price available and you will receive a quote shortly.</p><br>
                <p>Our crew will get in touch with you in a short time.</p><br>
                <a ng-click="NewRequest()" class="btn btn-border-gold">Close</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="BookSuccessMessage_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="step thanks text-center">
                <h2 style="color: #c29834; font-size: 26px;">Thank you <br> for your request.</h2>
                <p><b>Status: <span style="color: red;">Pending</span></b></p><br>
                <p>Our partner operators is giving you the best price available and you will receive a quote shortly.</p><br>
                <p>Our crew will get in touch with you in a short time.</p><br>
                <a ng-click="closeSuccess()" class="btn btn-border-gold">Close</a>
            </div>
        </div>
    </div>
</div>
